/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgba(224, 233, 238, 0.694);
    width: 100% ;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s;
}






#container-tabla, #btn{
    padding-top: 20px;
}
p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    clear: both;
}

#container-tabla{
    position: relative;
    margin: auto;
    width: fit-content;
    margin-top:15px ;
}


#flags{
    position: absolute;
    display: inline-block;
    left: -50px;
    top: 47%;
}
#flags img{
    margin: 5px;
}

#flags img:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

table{
    background-color: aliceblue;
    border-radius: 5px;
    margin: auto;
    display: table;
    border-collapse: separate;
    background: rgba(53,47,157,1);
    color: #fff;
    margin-bottom: 40px;

}

input{
    background-color: rgb(238, 238, 238);
    height: 80px;
    width: 80px;
    font-size: 300%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: 0.8s;
}
.btn{
    text-align: center;
    clear: both;
}
.jugar{
    text-decoration:none; text-align:center; 
    padding:11px 23px; 
    border:none; 
    -webkit-border-radius:7px;
    -moz-border-radius:7px; 
    border-radius: 7px; 
    font:18px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:aliceblue; 
    background-color:#404040; 
    background-image: -moz-linear-gradient(top, #404040 0%, #737373 100%); 
    background-image: -webkit-linear-gradient(top, #404040 0%, #737373 100%); 
    background-image: -o-linear-gradient(top, #404040 0%, #737373 100%); 
    background-image: -ms-linear-gradient(top, #404040 0% ,#737373 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#737373', endColorstr='#737373',GradientType=0 );
    background-image: linear-gradient(top, #404040 0% ,#737373 100%);
}
.jugar:hover{
    background: rgb(0, 0, 0);
    transition: 0.5s;
    transform: scale(1.1);
    color: aliceblue;

}
#dark-btn{
    float: right;
    margin-right: 200px;
}
#dark-btn:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

hr{
    margin: auto;
    width: 40%;
}

footer{
    margin: auto;
    width: fit-content;
    text-align: center;
    margin-top: 50px;
    padding: 5px;
    font-size: small;
    border-top: solid;
    border-bottom: solid;
}